body {
	background: #ffc266;
}

table.ladder {
	border-spacing: 0;
}
table.ladder tr {
	cursor: pointer;
}

table.ladder td {
	color: #a35200;
	margin: 0;
	border: 0;
	border-collapse: collapse;
	padding: 0.25em 0.5em;
}

table.ladder td.rank {
	color: #226633;
}

table.ladder tr.selected {
	background: #fab460;
	color: #3d1f00;
	font-weight: bold;
}

div.ladder {
	float: left;
	padding-right: 2em;
}

table.handicap td {
	padding: 0.5em;
}

.black_player > .plays {
	color: black;
	font-weight: bold;
}

.white_player > .plays {
	color: white;
	font-weight: bold;
}

.create_player {
	float: right;
}